@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

html{
    position: relative;
    min-height: 100%;
}
main{
    margin-bottom: 250px;
}

  footer.footer{
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .logo img {
    height: 150px;
    background-color: #ffffff;
    border-radius: 10px;
    
    }
    .lion-scene{
      position: relative;

      background-image: url(../node_modules/images/LionScene.jpg);
      background-size: cover;
      height: 550px;
      display: flex;
      align-content: center;
      flex-direction: column-reverse;
      align-items: stretch;
      justify-content: flex-end;
  }
    