/* Global Styles */
body {
  margin: 0;
  width: 100%;
  background-image: url(../assets/images/texture-detail-nature-drop-closeup.jpg);
  background-size: auto;
  image-resolution: from-image;
}

#main-page {
  min-height: calc(100vh - 160px);
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.logo img {
  height: 150px;
  background-color: #ffffff;
  border-radius: 30px;
  margin-left: 10px;
}

/* Lion Scene */
.lion-scene {
  position: relative;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  max-height: 800px;
  overflow: hidden;
}

.lion-scene::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../assets/images/LionScene.jpg);
  background-size: cover;
  background-position: center;
  filter: brightness(0.8);
  z-index: 1;
}

/* Habitats */
.habitats {
  padding: 40px 20px;
  background-color: #ffffff;
}

.habitat-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.habitat-card {
  flex: 1 1 calc(33.333% - 40px);
  max-width: 350px;
  min-width: 250px;
  text-align: center;
  border: 1px solid #fdfdfd;
  padding: 15px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  transition: transform 0.3s, box-shadow 0.3s;
}

.habitat-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.habitat-card img {
  max-width: 100%;
  height: 500px;
  border-radius: 10px;
  margin-bottom: 10px;
}



.hidden {
  display: none;
}

/* Media Queries */
@media (max-width: 768px) {
  .lion-scene {
    height: 40vh;
  }

  .service-card {
    flex: 1 1 100%;
    padding: 20px;
    height: auto;
  }
}

@media (max-width: 480px) {
  .lion-scene {
    height: 30vh;
  }

  .service-card {
    height: auto;
  }
}


