@import url("/node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';
html, body {

  margin: 0;
  width: 100%;
  
}
body   {
  max-width: 90%;
  margin: 0 auto;
   background-image: url(../node_modules/images/texture-detail-nature-drop-closeup.jpg);
   background-size: auto;
    max-width: 100%;
    image-resolution: from-image;
   
  }
#main-page {
  min-height: calc(100vh - 160px); /* Ajuste selon la hauteur du header et du footer */

}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}
.logo img {
    height: 150px;
    background-image: #ffffff;
    border-radius: 30px;
    margin-left: 10px;
    
    }

    .lion-scene {
      position: relative;
      margin-bottom: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 60vh; /* Hauteur en pourcentage de la hauteur de l'écran pour être responsive */
      max-height: 800px; /* Limiter la hauteur maximale */
      z-index: 2;
      overflow: hidden; /* Empêche le contenu de déborder */
    }
    
    .lion-scene::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url(../node_modules/images/LionScene.jpg);
      background-size: cover; /* L'image couvrira le conteneur */
      background-position: center;
      background-repeat: no-repeat;
      filter: brightness(0.8);
      z-index: 1;
    }
    
    .lion-scene * {
      position: relative;
      z-index: 2;
    }
    
    /* Pour les écrans plus petits */
    @media (max-width: 768px) {
      .lion-scene {
        height: 40vh; /* Réduire la hauteur pour les petits écrans */
      }
    
      .lion-scene::before {
        background-size: contain; /* Ajuster l'image à l'écran pour les petits écrans */
      }
    }
    
    /* Pour les très petits écrans */
    @media (max-width: 480px) {
      .lion-scene {
        height: 30vh; /* Encore plus petit pour les smartphones */
      }
    
      .lion-scene::before {
        background-size: contain;
      }
    }
    
  
  /* Médias Queries pour mobile */
  @media (max-width: 768px) { /* Ajustez la largeur selon vos besoins */
      .lion-scene {
          .lion-scene-content {
              min-height: auto; /* Ajustez la hauteur pour mobile */
              padding: 20px; /* Ajouter du padding pour l'espacement */
            }
            
  
          &::before {
              background-size: contain; /* Adapter l'image pour mobile */
          }
      }
  }
  
  @media (max-width: 480px) {
      .lion-scene {
          .lion-scene-content {
              height: 300px; /* Ajustez la hauteur pour mobile */
              padding: 10px;
          }
  
          &::before {
              background-size: contain; /* Adapter l'image pour mobile */
          }
      }
  }
   

      /* Ajout overlay */
      .background-section {
        position: relative;
       
        background-size: cover;
        background-position: center;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .overlay-text-container {
        position: relative;
        padding: 20px; /* Espace autour du texte */
        z-index: 1; /* Le texte au-dessus de l'overlay */
    }
    
    .overlay-text-container::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(1, 182, 26, 0.5); /* Overlay semi-transparent */
        z-index: -1; /* L'overlay derrière le texte */
        border-radius: 10px; /* Optionnel, arrondir les coins de l'overlay */
    }
    


/* Liste des Habitats Home & habitats*/

.habitats {
  padding: 40px 20px;
  background-color: #ffffff;
  }
  

   .habitat-title p {
  text-align: center;
  margin-bottom: 30px;
  color: #2E7D32;
  }
  
  .habitat-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  }
  
  .habitat-card {
  flex: 1 1 calc(33.333% - 40px); /* Largeur de chaque carte: 1/3 avec l'espace (20px de chaque côté) */
  max-width: 350px; /* Augmente la largeur maximale des cartes */
  min-width: 250px;
  text-align: center;
  border: 1px solid #fdfdfd;
  padding: 15px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .habitat-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .habitat-card img {
  max-width: 100%;
  height: 500px;
  border-radius: 10px;
  margin-bottom: 10px;
  }
  
  .habitat-card h3 {
  margin: 20px 0;
  color: #2AB458;
  }
  
  .habitat-card .btn {
  background-color: #2e7d32;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
  }
  
  .habitat-card .btn:hover {
  background-color: #2e7d32;
  }
  p{
  color: #ffffff;
  font-size: 1.2rem;
  margin-bottom: 20px;
  }




.text-justify {
     }


.presentation img{
  width: 100%;
  max-height: auto;
  width: 100px;
  
  border-radius: 10px;
  margin-bottom: 10px;
}




/* Services - services*/


.service-list {
  padding: 40px 20px;
  background-image: "url(../node_modules/images/texture-detail-nature-drop-closeup.jpg)";
  }
  
  .service-list h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #ffffff;
  }
  
  .habitat-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  }
  
  .service-card {
  flex: 1 1 calc(33.333% - 40px); /* Largeur de chaque carte: 1/3 avec l'espace (20px de chaque côté) */
  max-width: 350px; /* Augmente la largeur maximale des cartes */
  min-width: 1000px;
  text-align: center;
  border: 1px solid #fdfdfd;
  padding: 15px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .service-card img {
  max-width: 100%;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 10px;
  }
  
  .service-card h3 {
  margin: 20px 0;
  color: #2AB458;
  }
  
  .service-card .btn {
  background-color: #2e7d32;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
  }
  
  .service-card .btn:hover {
  background-color: #2e7d32;
  }
  p{
  color: #2e7d32;
  font-size: 1.2rem;
  margin-bottom: 20px;
  }
  
  .form-label{
    color: white;
  }

  @media (max-width: 768px) {
    header nav ul li a img {
    padding: 20px; /* Réduire le padding pour les petits écrans */
    font-size: 14px; /* Diminuer la taille du texte */
    border-radius: 15px; /* Adapter le border-radius */
    }
    }
